body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#controls {
    margin-left: 60px;
}

header {
    background-color: red;
    width: 400px;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px 20px 0 0;
}

h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    line-height: 70px;
}

h1, h2 {
    margin: 0;
}

h2 {
    font-weight: normal;
}

main {
    width: 400px;
    margin-left: 10px;
    font-size: 2rem;
    font-family: cursive;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

footer {
    background-color: red;
    height: 35px;
    width: 400px;
    margin-left: 10px;
    border-radius: 0 0 20px 20px;
}

#colors {
    margin-top: 10px;
    margin-left: 140px;
    
}

#pronoun-button, #font-button {
    margin-left: 110px;
    margin-top: 10px;
}

#pronouns {
    margin-left: 180px;
}